*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background: #002339;
    color:white;
}
.container{
    margin:15%;
    width: 90%;
    max-width:700px
}
.display{
    width:100%;
    margin-top: 50px;
    margin-bottom: 30px;
    background:#fff;
    color:#333;
    border-radius: 5px;
}
.container h1{
    font-size: 45px;
    font-weight: 500;
}
.container h1 span{
    color:#9c360e;
    border-bottom: 4px solid #019f55;
    padding-bottom:7px;
}
#button{
    height:30px;
    background-color: #019f55;
    color: white;
    border:none;
    outline:none;
    font-size:22px;
    font-weight:300;
    border-radius: 5px;
}